.container {
    margin-top: 20px;
  }
  
  .panel-heading {
    font-size: larger;
  }
  
  .alert {
    display: none;
  }
  
  
  /**
   * Error color for the validation plugin
   */
  
  .error {
    color: #e74c3c;
  }
  