/***********
1. Fonts
***********/

@font-face {
  font-family: 'Assistant-Regular';
  src: url('../css/fonts/Assistant-Regular.ttf') format('truetype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Assistant-Bold';
  src: url('../css/fonts/Assistant-Bold.ttf') format('truetype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
} 
.Assistant-Bold{
  font-family: 'Assistant-Bold';
}   
@font-face {
  font-family: 'assitant-extra-bold';
  src: url('../css/fonts/Assistant-ExtraBold.ttf') format('truetype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
} 
.assitant-extra-bold{
  font-family: 'assitant-extra-bold';
}
/***********
2. SETTINGS
***********/
body
{
	font-family: 'Assistant-Regular';
  background: #FFFFFF;
  
}

.container-fluid{
  padding: 0;
}
.row {
  margin: 0 auto;
}
.black-color{
  color:#000000;
}
.white-color{
  color:#ffffff;
}
.dir-rtl{
  direction: rtl;
}
.show-in-mobile{
  display: none;
}
.hide-in-mobile{
  display: block;
}
.relative{
  position: relative;
}


/***********CASUALENDTEST.PHP*******/

.total-info p{
    font-size: 40px;
    /* font-family: 'Heebo', sans-serif; */
    color: #000;
}


/***********INDEX.PHP*******/
#section-one{
  position: relative;
  background-image: url('../images/site-images/main-bg.png');
  width: 100%;
  height: 100%;
  /* background-position: center center; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;
  padding-bottom: 6%;
}
.section-one-title {
  padding-top: 20%;
  margin-bottom: 45px;
  text-align: center;
}
.section-one-title h1{
  font-size: 80pt;
  text-shadow: 0px 3px 2.94px rgba(10, 22, 31, 0.72);
  -moz-transform: matrix( 1.71699378509716,0,0,1.71699378509716,0,0);
}
.section-one-subtitle {
  text-align: center;
  margin-bottom: 155px;
}
.section-one-subtitle h3{
  font-size: 40pt;
  text-shadow: 0px 3px 11.57px rgba(10, 22, 31, 0.72);
}
/* .logo {
  padding-right: 0;
  padding-top: 35px;
} */
.section-one-nav-bar{
  padding-top: 2%;
}
.navbar-brand img{
  max-width: 100%;
  height: auto;
}
.navbar-nav{
  direction: rtl;
}
a.navbar-brand {
  text-align: center;
  padding-right: 0;
  padding-top: 0;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.nav-item{
  padding-left: 30px;
}

.nav-link {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-left: 30px;
  font-size: 17pt;
  font-weight: 600;
  position: relative;
}
.navbar.compressed {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #333131;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.btn-register-wrap {
  padding-left: 10%;
  position: relative;
  z-index: 9999;
}
ul li{
  -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.btn-register-wrap li.list-inline-item.white-color {
  background-color: #e2e2e2;
  cursor: pointer;
  padding: 5px;
  color: #000;
  font-size: 20px;
  -webkit-box-shadow: -4px 3px 0px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -4px 3px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -4px 3px 0px 0px rgba(0, 0, 0, 0.2);
}
.modal {
  z-index: 99999999999999999999999!important;
}
.modal-content {
  background-color: rgba(246,245,250,0.7);
}
.modal-content {
  background-color: rgba(246,245,250,0.7);
}
.modal-header .close {
    cursor: pointer;
}
.close {
  font-size: 1.8rem;
}
.login-inner {
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: #181324;
  font-size: 19px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 30px;
}
.login-inner:first-child{
  margin-right: 0;
}
/* .login-inner .btn-primary {
  color: inherit;
  background-color: transparent;
  border-color: transparent;
  width: 100%;
} */


.form-rounded,#submit-register{
  -webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}
#city-reg-wrap select{
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
  -ms-appearance:none;
  direction: rtl;
}
.cta-register-btn{
  background-color: #84c9fe;
  font-weight: 700;
  width: 20%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 15px;
  font-size: 1.85rem;
  cursor:pointer;
}

}
section#section-two {
  background-color: #e2e2e2;
}
#section-two .container{
  margin-top: 62px;
}
.section-two-title {
  margin-bottom: 45px;
}
.section-two-title h2{
    color: #000000;
    font-size: 36pt;
    text-align: center;
}
#section-two .container{
    margin-top: 85px;
}
/* .inner-icon{
  border-width: 2px;
  border-color: #F1F1F1;
  border-style: solid;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-right: 30px;
} */
.inner-icon:nth-child(4){
  margin-left: 0;
}
.inner-icon img {
  margin-bottom: 25px;
  padding-top: 55px;
}
.inner-icon p{
  font-size: 20pt;
}
#section-three .number-info {
  color: #6d9ab8;
  font-size: 4.5rem;
  font-weight: bold;
  padding-top: 1.5%;
}
.text-info-simulators {
  color: #000;
  padding: 3%;
  font-size: 1.8rem;
}

/*********ADVERTISER.PHP******/
.imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
  /* background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg); */
  background-color:#fff;
    background-size: cover;
  background-repeat:no-repeat;
    display: inline-block;
  box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}
.btn-primary
{
  display:block;
  border-radius:0px;
  margin-top:-5px;
}
.imgUp
{
  margin-bottom:15px;
}
.del
{
  position:absolute;
  top:0px;
  right:15px;
  width:30px;
  height:30px;
  text-align:center;
  line-height:30px;
  background-color:rgba(255,255,255,0.6);
  cursor:pointer;
}
.imgAdd
{
  width:30px;
  height:30px;
  border-radius:50%;
  background-color:#4bd7ef;
  color:#fff;
  box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
  text-align:center;
  line-height:30px;
  margin-top:0px;
  cursor:pointer;
  font-size:15px;
}
#InputFile{
  width: 0px;height: 0px;overflow: hidden;
}


/*********advertiserMainRoute.php + advertiser.php****************/
.link-for-adv-info{
  margin-top: 25px;
}
.error{
  color:red;
}

/*********advertising.php****************/
#advertising-main select {
  width: 100%;
}

/*********FOOTER.PHP****************/
.footer_wrap {
  padding: 40px 0;
  background-color: #212121;
  padding-bottom: 10px;
}
.footer_wrap {
  padding: 40px 0;
  background-color: #212121;
}
#footer .nav-link {
  -moz-border-radius: 20px;
  font-size: 14pt;
  font-weight: 500;
  padding-top: 0;
  border-width: 0;
}
.copyright_wrap {
  font-size: 0.875em;
  color: #fff;
  text-align: center;
}

/********BUTTON TO TOP STYLE***************/
#button-to-top {
  display: inline-block;
  background-color: #84c9fe;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button-to-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button-to-top:hover {
  cursor: pointer;
  background-color: #333;
}
#button-to-top:active {
  background-color: #555;
}
#button-to-top.show {
  opacity: 1;
  visibility: visible;
}
.footer-logo-wrap img{
    max-width: 25%;
}

/* NAV ICON CUSTOM LIADZ */

#nav-icon1 {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  right: 5%;
  margin: 5px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 9999;
}

#nav-icon1 span{
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #84c9fe;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 13px;
}

#nav-icon1 span:nth-child(3) {
  top: 28px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: 0;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#nav-icon1:focus {
  outline: none;
}

/***********SUBJECT.PHP*******/

#subjects .navbar-wrap{
  background-color: #000;
}
#subjects .section-one-nav-bar {
  padding-top: 6%;
}
.hello-user {
  position: absolute;
  left: 5%;
  top: 5%;
  z-index: 1031;
}
.hello-user p{
  font-size: 20px;
}
.table-subject-wrap {
  margin: 40px 0;
}
p.logout-btn a{
  color:#b96e83!important;
}
